/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};


&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	lora0: sx1276@0 {
		compatible = "semtech,sx1276";
		reg = <0>;
		spi-max-frequency = <125000>;
		dio-gpios = <&gpio0 23 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>, <&gpio0 22 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		reset-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
		power-amplifier-output = "pa-boost";
		label="HOPE_RF";
	};
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			pinmux = <SPI1_SCK_P10>, <SPI1_TX_P11>;
		};

		group2 {
			pinmux = <SPI1_RX_P8>;
			input-enable;
		};
	};
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			pinmux = <I2C1_SCL_P3>, <I2C1_SDA_P2>;
		};
	};
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-names = "default";

    lsm6dso0: lsm6dso0@6b {
        compatible = "st,lsm6dso";
        reg = <0x6b>;
        label = "LSM6DSO";
    };

    lsm303dlhc_magn: lsm303dlhc_magn@1e {
        compatible = "st,lsm303dlhc-magn";
        reg = <0x1e>;
        label = "LSM303DLHC_MAGN";
    };
};